.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;

  .signup-text {
    color: #1A73E8;
  }

  form {
    background: white;
    width: 350px;
    height: auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
    .signup-content {
      input {
        width: 35vh;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        color: black;
        font-size: 16px;
      }
      
      .password-toggle-icon {
        display: flex;
        margin: 5px 0;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;

        .eye-icon {
          padding: 5px;
        }
      }
    }
    
    button {
      width: 96%;
      padding: 10px;
      margin: 10px 0;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
  
    button:hover {
      background-color: #0056b3;
    }

    .login-account {
      a {
        text-decoration: none;
        color: #1A73E8;

        &:hover {
          color: #0f458a;

        }
      }
    }
  }  
}
