$primary-color: #4592FF;
$container-color: #FFFFFF;
$search-bar-color: #f1f3f4;
$header-hover-color: #F0F0F0;
$search-bar-hover-color: #ddd2d2;
$side-bar-color: #f1f1f1;
$active-sidebar-color: #f6e5b1;